<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wind.boot.db.mapper.system.UserMapper">

	<resultMap id="UserResponseResultMap" type="cn.wind.boot.db.domain.system.response.UserResponse" >
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="id_card" property="idCard" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="selectByStatus" resultMap="UserResponseResultMap">
		SELECT
			id,
			username,
			id_card,
			sex,
			phone
		FROM
			system_user 
		WHERE
			`status` = #{status}
    </select>
	
</mapper>